<template name="landing">
    <div id="index-banner" class="parallax-container">
        <div class="section no-pad-bot">
            <div class="container">
                <br><br>
                <h1 class="header center teal-text text-lighten-2">Supply Net</h1>
                <div class="row center">
                    <h5 class="header col s12 light">Specify a school or give to those who need it most</h5>
                </div>
                <div class="row center">
                    <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Donate</a>
                </div>
                <br><br>

            </div>
        </div>
        <div class="parallax"><img src="/images/children.jpg" alt="Unsplashed background img 1" style="display: block; transform: translate3d(-50%, 500px, 0px);"></div>
    </div>


    <div class="container">
        <div class="section">

            <!--   Icon Section   -->
            <div class="row">
                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center brown-text"><i class="material-icons">lock</i></h2>
                        <h5 class="center">Secure donations</h5>

                        <p class="light">Utilizing PayPal on our secure site, 100% of your donation will land in the hands of the specified recipient. Whether its supplies or direct funds, the school you've identified will be the full beneficiary of your generous donation.</p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center brown-text"><i class="material-icons">group</i></h2>
                        <h5 class="center">Expansive reach</h5>

                        <p class="light">We use a cutting-edge algorithm to pair you with those who need it most across the country. You can simply hit "Match Me!" to be automatically placed with one of the thousands of registered schools that needs your donation most.</p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center brown-text"><i class="material-icons">store</i></h2>
                        <h5 class="center">Local donations</h5>

                        <p class="light">Does your child's class need a new set of textbooks? Choose schools nearby to donate to a classroom, school, or entire district near you. Choose a shipping method or even sign up to have your own student bring the supplies in person. Supply net makes local donations that much easier.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">
                <div class="row center">
                    <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
                </div>
            </div>
        </div>
        <div class="parallax"><img src="/images/landingpage_pencils.jpg" alt="Unsplashed background img 2" style="display: block; transform: translate3d(-50%, 0px, 0px);"></div>
    </div>

    <div class="container">
        <div class="section">

            <div class="row">
                <div class="col s12 center">
                    <h3><i class="mdi-content-send brown-text"></i></h3>
                    <h4>Contact Us</h4>
                    <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
                </div>
            </div>

        </div>
    </div>


    <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">
                <div class="row center">
                    <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
                </div>
            </div>
        </div>
        <div class="parallax"><img src="/images/landingpage_bus.jpg" alt="Unsplashed background img 3" style="display: block; transform: translate3d(-50%, 0px, 0px);"></div>
    </div>

</template>