<template name="home">
    <div class="container">
    {{#if Template.subscriptionsReady}}
        <h4>Your schools</h4>
            <ul class="collapsible popout" data-collapsible="accordion">
                {{#each schools}}
                    <li>
                        <div class="collapsible-header"><i class="material-icons">library_books</i>{{name}}</div>
                        <div class="collapsible-body">
                            <ul>
                                {{#each donationDrives}}
                                    <li>{{title}}
                                    {{#if canEditDrive}}
                                        <a class="btn wave-effect waves-light teal" href="{{pathFor '/home/school/:schoolId/edit-donation-drive/:donationDriveId' schoolId=schoolId donationDriveId=id}}">Edit</a>
                                    {{/if}}
                                    </li>
                                {{/each}}

                                <li><a class="waves-effect waves-light btn" href="{{pathFor '/home/school/:schoolId/new-donation-drive' schoolId=_id}}">Create a new drive</a></li>
                            </ul>
                        </div>
                    </li>
                {{/each}}
            </ul>
    {{else}}
        <p>Loading...</p>
    {{/if}}
    </div>
</template>