<template name="categoryView">
    <li class="collection-item avatar">
        <div>
            <span class="title">{{title}}</span>
            <p>{{description}}</p>
            {{#each this.links}}
                <a href="/{{this}}" target="_blank">{{this}}</a>
            {{/each}}
            <div class="secondary-content">
                <a class="right btn wave-effect waves-light teal" href="{{pathFor '/home/admin/categories/:categoryId' categoryId=_id}}">Edit</a>
                <button class="right delete s8 col btn wave-effect waves-light teal">Delete</button>
            </div>
        </div>
    </li>
</template>