<template name="footer">
    <footer class="page-footer teal">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Contact Us</h5>

                    <p class="grey-text text-lighten-4"><a href="mailto:supplynet@outlook.com">supplynet@outlook.com</a></p>

                    <p class="grey-text text-lighten-4"><a href="tel:800-328-0310">800-328-0310</a></p>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                Made by <a class="brown-text text-lighten-3" href="#">Dat Meteor Though</a>
            </div>
        </div>
    </footer>

</template>