<template name="header">
    <ul id="nav-user-dropdown" class="dropdown-content">
        <li>
            <a href="{{pathFor '/home/register-school'}}">Register school</a>
        </li>
        {{#if isInRole 'admin'}}
            <li>
                <a href="{{pathFor '/home/admin/categories'}}">Categories</a>
            </li>
        {{/if}}
        <li class="divider"></li>
        <li>
            <a href="#" class="meteor-logout">Log out</a>
        </li>
    </ul>

    <nav class="white" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="{{pathFor homeUrl}}" class="brand-logo">Logo</a>

            <ul class="right hide-on-large-only">
                {{#if currentUser}}
                    <li>
                        <a href="#" class="button-search"><i class="material-icons">search</i></a>
                    </li>
                {{else}}
                    <li>
                        <a href="{{pathFor '/sign-up'}}">Sign up</a>
                    </li>
                    <li>
                        <a href="{{pathFor '/sign-in'}}">Log in</a>
                    </li>

                {{/if }}
            </ul>

            <ul class="right hide-on-med-and-down">
                {{#if currentUser }}
                    <li>
                        <a href="#" class="button-search"><i class="material-icons">search</i></a>
                    </li>
                    <li>
                        <a class="dropdown-button" href="#" data-activates="nav-user-dropdown">
                            {{ fullName }}
                            <i class="material-icons right">arrow_drop_down</i>
                        </a>
                    </li>
                {{else}}
                    <li>
                        <a href="{{pathFor '/sign-up'}}">Sign up</a>
                    </li>
                    <li>
                        <a href="{{pathFor '/sign-in'}}">Log in</a>
                    </li>
                {{/if}}
            </ul>

            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>

            <ul class="side-nav" id="nav-mobile">
                {{#if currentUser }}
                    <li>
                        <a href="{{pathFor '/home/register-school'}}">Register school</a>
                        {{#if isInRole 'admin'}}
                            <li>
                                <a href="{{pathFor '/home/admin/categories'}}">Categories</a>
                            </li>
                        {{/if}}
                    </li>
                {{else}}
                    <li>
                        <a href="{{pathFor '/sign-up'}}">Sign up</a>
                    </li>
                    <li>
                        <a href="{{pathFor '/sign-in'}}">Log in</a>
                    </li>
                {{/if}}
            </ul>

        </div>
    </nav>

    {{#if isSearchBarActive }}
        {{> searchBar }}
    {{/if }}
</template>