<template name="donationDrives">
    <div class="container">
        <h2>Donation drives</h2>
        {{#if Template.subscriptionsReady}}
            {{> quickForm schema="Schemas.DonationDriveSchema" id="createDonationDrive" type="method" meteormethod="insertDonationDrive" fields=donationDriveFormFields omitFields=donationDriveFormOmitFields}}
            <ul class="collection">
                {{#each donationDrives}}
                    {{> donationDriveView}}
                {{/each}}
            </ul>
        {{else}}
            <p>Loading...</p>
        {{/if}}
    </div>
</template>